.main {
    width: 100%;
    background-color: #612940;
    background-position: center;
    background-size: cover;
}

.main ul li a {
    color: #fdecef;
}

.nav-item{
    margin-right: 16px;
    margin-left: 16px;
}

.container-default {
    max-width: 1364px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    flex: 1;
}
.split-content {
    flex: 1;
}

.container-default a:hover {
    color: #0F110C;
    transition: 0.4s ease;
}
.content {
    color:  #fdecef;
}

.display-1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
}

h1 {
    margin-bottom: 24px;
}
.content p{
    letter-spacing: 1.2px;
}

.image-wrapper {
    z-index: -1;
    display: block;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    overflow: hidden;
}

.section {
    position: relative;
    display: flex;
    overflow: hidden;
    padding-top: 55px;
    padding-bottom: 160px;
    -webkit-box-align: center;
}
.home-hero-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.inner-container-580px {
    max-width: 580px;
}
.mt-64{
    margin-top: 64px;
}

.button-primary.large {
    padding: 38px 56px;
    font-size: 20px;
    line-height: 22px;
}

.button-primary {
    background-color: #101010;
    color: #fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.get-in-touch a.w-button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

a.w-button:hover {
    color: #612940;
}

.rn-about-area .image-area .thumbnail img {
    border-radius: 8px;
    transition: var(--transition);
    width: 100%;
}

.rn-about-area .image-area .thumbnail {
    overflow: hidden;
    border-radius: 8px;
}

.rn-about-area .image-area {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;;
    margin-right: 20px;
}

.rn-section-gap {
    padding: 100px 0;
}

.rn-about-area .image-area .thumbnail img:hover {
    transform: scale(1.08);
}

.bg {
    background-color: #612940;
}

h2.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Times New Roman';
    margin-top: 15px;
    margin-bottom: 0;
}

.rn-about-area .content .discription:nth-child(2) {
    margin-bottom: 20px;
    margin-top: 23px;
}

.rn-about-area .content .discription {
    font-size: 16px;
    line-height: 28px;
    color:  #fdecef;
    margin-bottom: 30px;
    padding-right: 10%;
}

.rn-about-area .content {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.display-2 {
    font-family: 'Times New Roman';
    font-size: 50px;
    line-height: 66px;
    font-weight: 100;
    color:  #fdecef;
}

.inner-container-800px {
    max-width: 800px;
}

.align-center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.mg-top-40px {
    margin-top: 40px;
}

.display3 {
    display: block;
} 

.l-project {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    color:  #fdecef;
}

.card1 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color:  #fdecef;
    --bs-card-subtitle-color:  #fdecef;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.card-body a{
    text-decoration: none;
    display: inline-block;
}

.card-body a:hover{
    outline: none;
}
.card-title:hover {
    color:#0F110C;
    transition: .4s ease;
}