.main {
    width: 100%;
    background-color: #612940;
    background-position: center;
    background-size: cover;
}

.main ul li a {
    color: #fdecef;
}
.main a img {
    border-radius: 50%;
}
.nav-item{
    margin-right: 16px;
    margin-left: 16px;
}

.container-default {
    max-width: 1364px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    flex: 1;
}
.split-content {
    flex: 1;
}

.container-default a:hover {
    color: #0F110C;
    transition: 0.4s ease;
}
.content {
    color:  #fdecef;
}

.display-1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
}

h1 {
    margin-bottom: 24px;
}
.content p{
    letter-spacing: 1.2px;
    font-family: 'Times New Roman';
}

.image-wrapper {
    z-index: -1;
    display: block;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    overflow: hidden;
}

.section {
    position: relative;
    display: flex;
    overflow: hidden;
    padding-top: 55px;
    padding-bottom: 160px;
    -webkit-box-align: center;
}
.home-hero-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.inner-container-580px {
    max-width: 580px;
}
.mt-64{
    margin-top: 64px;
}

.button-primary.large {
    padding: 38px 56px;
    font-size: 20px;
    line-height: 22px;
}

.button-primary {
    background-color: #101010;
    color: #fdecef;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transition: .4s ease;
    font-family: 'Times New Roman';
}

.get-in-touch a.w-button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

a.w-button:hover {
    color: #101010;
    background-color: #fdecef;

}

.rn-about-area .image-area .thumbnail img {
    border-radius: 8px;
    transition: 0.4s;
    width: 100%;
}

.rn-about-area .image-area .thumbnail {
    overflow: hidden;
    border-radius: 8px;
}

.rn-about-area .image-area {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;;
    margin-right: 20px;
}

.rn-section-gap {
    padding: 100px 0;
}

.rn-about-area .image-area .thumbnail img:hover {
    transform: scale(1.08);
}

.bg {
    background-color: #612940;
}

h2.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Times New Roman';
    margin-top: 15px;
    margin-bottom: 0;
}

.rn-about-area .content .discription:nth-child(2) {
    margin-bottom: 20px;
    margin-top: 23px;
}

.rn-about-area .content .discription {
    font-size: 16px;
    line-height: 28px;
    color:  #fdecef;
    margin-bottom: 30px;
    padding-right: 10%;
}

.rn-about-area .content {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.display-2 {
    font-family: 'Times New Roman';
    font-size: 50px;
    line-height: 66px;
    font-weight: 100;
    color:  #fdecef;
}

.inner-container-800px {
    max-width: 800px;
}

.align-center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.mg-top-40px {
    margin-top: 40px;
}

.display3 {
    display: block;
} 

.l-project {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    color:  #fdecef;
}

.card1 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color:  #fdecef;
    --bs-card-subtitle-color:  #fdecef;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.card-body a{
    text-decoration: none;
    display: inline-block;
}

.card-body a:hover{
    outline: none;
}

.card-title {
    font-family: 'Times New Roman';
}
.card-title:hover {
    color:#0F110C;
    transition: .4s ease;
}

.card-text{
    font-family: 'Times New Roman';
}

.rn-portfolio .inner .thumbnail a img {
    width: 100%;
    transition: 0.4s;
    height: auto;
    object-fit: cover;
}

.rn-portfolio .inner .thumbnail a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
}

.rn-portfolio .inner .portfolio-content .title a{
    transition: 0.4s;
    color: #fdecef;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    font-family: 'Times New Roman';
}

.rn-portfolio .inner .portfolio-content .title{
    margin: 0;
}

.rn-portfolio .inner .portfolio-content p {
    font-family: 'Times New Roman';

}
.portfolio-content {
    color: #fdecef;
    padding-top: 18px;
}

.rn-portfolio {
    text-align: left;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    position: relative;
    z-index: 1;
    height: 100%;
    transition: 0.5s all ease-in-out;
    display: inline-block;
}

.mt--30 {
    margin-top: 30px !important;
}

.portfolio-aria .portfolio-content .title a:hover {
    color:#0F110C;
    transition: .4s ease;
}

.portfolio-aria .rn-portfolio .thumbnail img:hover {
    transform: scale(1.08);
}

.section-title h2.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color:  #fdecef;
    margin-top: 15px;
    margin-bottom: 0;
    font-family: 'Times New Roman';
}

.section-title span.subtitle {
    color:  #fdecef;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Times New Roman';
    font-weight: 500;
}

.text-center {
    text-align: center !important;
}

.section-separator {
    position: relative;
}

.mt-50 {
    margin-top: 50px !important;
}

.contact-about-area {
    padding: 30px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 10px;
    height: 100%;
}

.contact-about-area .thumbnail img {
    width: 100%;
    height: auto;
    transition:  0.4s;
}

.contact-about-area .thumbnail img:hover{
    transform: scale(1.08);
}

.contact-about-area .thumbnail {
    margin-bottom: 28px;
    overflow: hidden;
    border-radius: 10px;
}

.contact-about-area .title-area {
    margin-bottom: 15px;
}

.contact-about-area .title-area h4.title {
    font-size: 29px;
    line-height: 44px;
    color:  #fdecef;
    margin-bottom: 9px;
    font-family: 'Times New Roman';
}

.contact-about-area .title-area span {
    color:  #fdecef;
    font-family: 'Times New Roman';
}

.contact-about-area .description p {
    font-size: 18px;
    font-weight: 400;
    color:  #fdecef;
    font-family: 'Times New Roman';
    line-height: 30px;
    display: inline-block;
    margin-bottom: 20px;
}

.contact-about-area .description span a {
    transition:  0.4s;
    position: relative;
    color: #CECCCC;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

.contact-about-area .description span a:hover {
    color: #0F110C;
}
.contact-about-area .description span {
    display: block;
    color:  #fdecef;
}

.contact-about-area .description {
    margin-bottom: 39px;
}

.contact-about-area .social-area .name {
    font-size: 14px;
    font-family: 'Times New Roman';
    font-weight: 500;
    color:  #fdecef;
    margin-bottom: 8px;
}

.contact-about-area .social-area .social-icone {
    margin-top: 24px;
}

a ion-icon {
    color:#CECCCC;
    font-size: 33px;
}

.contact-about-area .social-area .social-icone a {
    width: 61px;
    height: 61px;
    line-height: 75px;
    margin-right: 15px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 6px;
    transition:  0.4s;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.contact-about-area .social-area .social-icone a:hover {
    transform: translateY(-5px);
}

.contact-form{
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;
    height: 100%;
}

.contact-form .introduce {
    display: flex;
    justify-content: space-between;
}

.contact-form label {
    font-size: 12px;
    color:#CECCCC;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Times New Roman';
    margin-bottom: 14px;
    text-align: left;
    display: block;
}

.form-group label {
    line-height: 22px;
}
.contact-form input {
    background-color: transparent;
    border-radius: 6px;
    height: 55px;
    transition: 0.4s;
    border: 2px solid #0F110C;
    padding: 0 15px;
    font-size: 14px;
    font-family: 'Times New Roman';
    color: #CECCCC;
    letter-spacing: 1px;
}

.contact-aria .contact-form .form-group .inp{
    background: transparent;
    border: 2px solid #191b1e;
}

.form-control{
    display: block;
}

.form-control-lg {
    min-height: calc(1.5em + (1rem + 2px));
}

.contact-form .introduce input {
    width: 100%;
}
.form-group {
    margin-bottom: 20px;
}
.form-control-sm {
    min-height: calc(1.5em + (.5rem + 2px));
}

button.rn-btn {
    border-radius: 6px;
    background: #612940;
    box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;;
    transition: 0.4s;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 500;
    border: 0 none;
}

button.rn-btn {
    display: inline-block;
    padding: 15px 35px;
    list-style: none;
    text-decoration: none;
    color:#CECCCC;
}
button.rn-btn:hover{
    transform: translateY(-5px);
}

input, button, textarea {
    width: 100%;
    font-family: 'Times New Roman';
    background: transparent;
}
textarea {
    border: 2px solid #0F110C;
}
input, button, select, textarea {
    background: transparent;
}

.rn-btn .arrow-outline {
    vertical-align: middle;
    margin: 0px;
} 
.contact-form textarea {
    min-height: 235px;
    background-color: transparent;
    border-radius: 6px;
    padding: 0;
    transition:  0.4s;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Times New Roman';
    color: #CECCCC;
    letter-spacing: 1px;
    resize: none;
    border: 2px solid #191b1e;
}
.footer-area .logo a img {
    max-height: 70px;
    border-radius: 50%;
}
.logo a {
    display: inline-block;
}
.text-center {
    text-align: center !important;
}
.footer-area .description {
    font-size: 17px;
    color:  #fdecef;
    font-family: 'Times New Roman';
}
.footer-area .description a {
    color:  #fdecef;
    transition: 0.4s;
    position: relative;
    text-decoration: none;
    font-family: 'Times New Roman';
}
.footer-area .description a:hover {
    color:  #0F110C;
}
.mt-30 {
    margin-top: 30px !important;
}